

.App{
  height: 100%;
  width: 100%;
}
.users-room{
  display: flex;
  flex-direction: row;

}

.register-user-wrapper{
  width: 50vw;
  margin: 50px;

}
.register-user-form{
  display: flex;
  flex-direction: column;
}
.room-wrapper{
  width: 50vw;
}
.users-list{
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: auto;
}
.chat-participants{
  display: flex;
  flex-direction: row;
}